{% extends 'AccessBundle:Default:layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <style type="text/css">
   .rounded-app {
     border-radius: 1.25em !important;
     width: 100px;
     height: 100px;
   }

   .app {
     text-decoration: none !important;
   }
  </style>
{% endblock %}

{% block content %}
  <div class="my-3 container-fluid d-flex flex-wrap bg-light border border-light">
    {% for app in apps %}
      {% if app.url starts with 'http' %}
        {% set url = app.url %}
      {% else %}
        {% set url = url(app.url) %}
      {% endif %}

      <div class="card justify-content-center mx-4 my-4 d-flex" style="width: 126px;">
        <a href="{{ url }}" class="app">
          <img src="{{ asset(app.img) }}" class="card-img-top" alt="SGD" />

          <div class="card-body text-center px-0 mx-0">
            <h6 class="card-title text-body">{{ app.nombre }}</h6>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
