{% extends 'AccessBundle:Default:layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <style type="text/css">
   .rounded-app {
     border-radius: 1.25em !important;
     width: 100px;
     height: 100px;
   }

   .mb-6 {
     margin-bottom: 7em !important;
   }
  </style>
{% endblock %}

{% block content %}
  {% for app in apps %}
    {% if app.url starts with 'http' %}
      {% set url = app.url %}
    {% else %}
      {% set url = url(app.url) %}
    {% endif %}

    <a href="{{ url }}">
      <div class="card justify-content-center mx-4 my-4 d-flex" style="width: 126px;">
        <img src="{{ asset(app.img) }}" class="card-img-top" alt="SGD" />

        <div class="card-body text-center px-0 mx-0">
          <h6 class="card-title">{{ app.nombre }}</h6>
        </div>
      </div>
    </a>
  {% endfor %}
{% endblock %}
