<div class="modal fade" id="notaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nota</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium ornare orci eu finibus. Proin vestibulum tincidunt ligula, at interdum enim. In egestas, libero vel faucibus semper, mi quam egestas urna, eu viverra diam tellus sed ipsum. Quisque euismod vestibulum ante quis lacinia. Aenean et metus aliquet, lobortis nisi vitae, laoreet enim. Aliquam a purus est. In ut massa lorem. Nullam euismod mauris sit amet sem euismod, sit amet tempus tellus porttitor. Donec maximus sapien neque, ac fermentum augue tempor sit amet. Sed vel odio mollis, luctus nunc et, gravida neque. Morbi nec convallis quam. Aliquam vehicula dui a metus maximus auctor. Suspendisse bibendum purus vel risus facilisis dictum. Maecenas ante nunc, pharetra et turpis eget, convallis interdum justo. Praesent ut laoreet enim. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
