{% extends '::/Bandeja/layout.html.twig' %}

{% block page_title %}
   <h2 class="">BANDEJA POR RECIBIR</h2>
{% endblock %}

{% block filters %}
  <div id="actions" class="collapse">
    {{ form_start(recibirForm, {'attr': {'id': 'recibir'}}) }}
    {{ form_end(recibirForm) }}
  </div>
{% endblock %}

{% block searcher %}
  {% include 'BandejaBundle:Bandeja:buscador.html.twig' %}
{% endblock %}

{% block pager %}
  {% include 'Bandeja/pager.html.twig' %}
{% endblock %}

{% block content %}
  {% include 'BandejaBundle:Bandeja:_table_documentos.html.twig' %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '../src/BandejaBundle/Resources/js/_table_documentos.js'
    output='js/_table_documentos.js'
    combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script type="text/javascript">
   $( function() {
     $('#recibir').submit( function() {
       $('input[name="docs[]"]').clone()
				.css('display', 'none')
				.appendTo(this);

       return confirm('¿Estás seguro que quieres recibir estos documentos?');
     });
   });
  </script>
{% endblock %}
