{% extends '::/Bandeja/layout.html.twig' %}

{% block page_title %}
   <h2 class="">Bandeja Por Recibir</h2>
{% endblock %}

{% block search %}
<form class="col-4">
  <input class="form-control form-control-sm" placeholder="Buscar..." />
</form>
{% endblock %}

{% block tabs %}
  {% include 'BandejaBundle:Bandeja:menu.html.twig' %}
{% endblock %}

{% block filters %}
  <div class="col">
    <div id="actions" class="row collapse">
      <button type="button" class="btn btn-danger mx-1" data-toggle="modal" data-target="#recibidoModal">Recibido</button>
    </div>
  </div>

  {% include 'BandejaBundle:Bandeja:recibir.html.twig' %}
{% endblock %}

{% block searcher %}
  {% include 'BandejaBundle:Bandeja:buscador.html.twig' %}
{% endblock %}

{% block pager %}
  {% include 'Bandeja/pager.html.twig' %}
{% endblock %}

{% block content %}
  {% include 'BandejaBundle:Bandeja:_table_documentos.html.twig' %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '../src/BandejaBundle/Resources/js/_table_documentos.js'
    output='js/_table_documentos.js'
    combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
